RewriteEngine On

RewriteCond %{THE_REQUEST} /tlogin\.php [NC]
RewriteRule ^ - [F]
RewriteCond %{THE_REQUEST} /teacher\.php [NC]
RewriteRule ^ - [F]

RewriteRule ^teacher-login/?$ tlogin.php [L]
RewriteRule ^teacher-register/?$ teacher.php [L]
